In [1]:
from urllib.request import urlretrieve

In [2]:
italy_covid_url = 'https://gist.githubusercontent.com/aakashns/f6a004fa20c84fec53262f9a8bfee775/raw/f309558b1cf5103424cef58e2ecb8704dcd4d74c/italy-covid-daywise.csv'

urlretrieve(italy_covid_url, 'italy-covid-daywise.csv')

('italy-covid-daywise.csv', <http.client.HTTPMessage at 0x2b8898ef550>)

In [3]:
import pandas as pd

In [4]:
covid_df=pd.read_csv('italy-covid-daywise.csv')

In [5]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [6]:
type(covid_df)

pandas.core.frame.DataFrame

In [7]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [8]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [9]:
covid_df.columns

Index(['date', 'new_cases', 'new_deaths', 'new_tests'], dtype='object')

In [10]:
covid_df.shape

(248, 4)

In [11]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [12]:
import jovian

In [13]:
jovian.commit(project='python-pandas-data-analysis')

[jovian] Updating notebook "btech15277-18/python-pandas-data-analysis" on https://jovian.ai/
[jovian] Committed successfully! https://jovian.ai/btech15277-18/python-pandas-data-analysis

'https://jovian.ai/btech15277-18/python-pandas-data-analysis'

In [14]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

In [15]:
covid_df

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [16]:
covid_data_dict['new_cases']

[1444, 1365, 996, 975, 1326]

In [17]:
type(covid_data_dict['new_cases'])

list

In [18]:
covid_df.new_cases

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [19]:
covid_df.loc[243]

date          2020-08-30
new_cases           1444
new_deaths             1
new_tests          53541
Name: 243, dtype: object

In [20]:
type(covid_df.loc[243])

pandas.core.series.Series

In [21]:
covid_df.tail(6)

           date  new_cases  new_deaths  new_tests
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

In [22]:
covid_df.head(10)

         date  new_cases  new_deaths  new_tests
0  2019-12-31        0.0         0.0        NaN
1  2020-01-01        0.0         0.0        NaN
2  2020-01-02        0.0         0.0        NaN
3  2020-01-03        0.0         0.0        NaN
4  2020-01-04        0.0         0.0        NaN
5  2020-01-05        0.0         0.0        NaN
6  2020-01-06        0.0         0.0        NaN
7  2020-01-07        0.0         0.0        NaN
8  2020-01-08        0.0         0.0        NaN
9  2020-01-09        0.0         0.0        NaN

In [23]:
covid_df.at[5,'new_tests']

nan

In [24]:
type(covid_df.at[5,'new_tests'])

numpy.float64

In [25]:
import jovian

In [26]:
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        248 non-null    object
 1   new_cases   248 non-null    float64
 2   new_deaths  248 non-null    float64
 3   new_tests   135 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.9+ KB

In [27]:
covid_df.describe()

         new_cases  new_deaths     new_tests
count   248.000000  248.000000    135.000000
mean   1094.818548  143.133065  31699.674074
std    1554.508002  227.105538  11622.209757
min    -148.000000  -31.000000   7841.000000
25%     123.000000    3.000000  25259.000000
50%     342.000000   17.000000  29545.000000
75%    1371.750000  175.250000  37711.000000
max    6557.000000  971.000000  95273.000000

In [28]:
covid_df.shape

(248, 4)

In [29]:
covid_df['new_cases'].unique()

array([ 0.000e+00,  3.000e+00,  1.400e+01,  6.200e+01,  5.300e+01,
        9.700e+01,  9.300e+01,  7.800e+01,  2.500e+02,  2.380e+02,
        2.400e+02,  5.610e+02,  3.470e+02,  4.660e+02,  5.870e+02,
        7.690e+02,  7.780e+02,  1.247e+03,  1.492e+03,  1.797e+03,
        9.770e+02,  2.313e+03,  2.651e+03,  2.547e+03,  3.497e+03,
        2.823e+03,  4.000e+03,  3.526e+03,  4.207e+03,  5.322e+03,
        5.986e+03,  6.557e+03,  5.560e+03,  4.789e+03,  5.249e+03,
        5.210e+03,  6.153e+03,  5.959e+03,  5.974e+03,  5.217e+03,
        4.050e+03,  4.053e+03,  4.782e+03,  4.668e+03,  4.585e+03,
        4.805e+03,  4.316e+03,  3.599e+03,  3.039e+03,  3.836e+03,
        4.204e+03,  3.951e+03,  4.694e+03,  4.092e+03,  3.153e+03,
        2.972e+03,  2.667e+03,  3.786e+03,  3.493e+03,  3.491e+03,
        3.047e+03,  2.256e+03,  2.729e+03,  3.370e+03,  2.646e+03,
        3.021e+03,  2.357e+03,  2.324e+03,  1.739e+03,  2.091e+03,
        2.086e+03,  1.872e+03,  1.965e+03,  1.900e+03,  1.389e+03,
        1.221e+03,  1.075e+03,  1.444e+03,  1.401e+03,  1.327e+03,
        1.083e+03,  8.020e+02,  7.440e+02,  1.402e+03,  8.880e+02,
        9.920e+02,  7.890e+02,  8.750e+02,  6.750e+02,  4.510e+02,
        8.130e+02,  6.650e+02,  6.420e+02,  6.520e+02,  6.690e+02,
        5.310e+02,  3.000e+02,  3.970e+02,  5.840e+02,  5.930e+02,
        5.160e+02,  4.160e+02,  3.550e+02,  1.780e+02,  3.180e+02,
        3.210e+02,  1.770e+02,  5.180e+02,  2.700e+02,  1.970e+02,
        2.800e+02,  2.830e+02,  2.020e+02,  3.790e+02,  1.630e+02,
        3.460e+02,  3.380e+02,  3.010e+02,  2.100e+02,  3.280e+02,
        3.310e+02, -1.480e+02,  2.640e+02,  2.240e+02,  2.210e+02,
        1.130e+02,  5.770e+02,  2.960e+02,  2.550e+02,  1.750e+02,
        1.740e+02,  1.260e+02,  1.420e+02,  1.820e+02,  2.010e+02,
        2.230e+02,  2.350e+02,  1.920e+02,  2.080e+02,  1.370e+02,
        1.930e+02,  2.140e+02,  2.760e+02,  1.880e+02,  2.340e+02,
        1.690e+02,  1.140e+02,  1.620e+02,  2.300e+02,  2.310e+02,
        2.490e+02,  2.180e+02,  1.900e+02,  1.280e+02,  3.060e+02,
        2.520e+02,  2.740e+02,  2.540e+02,  1.680e+02,  2.880e+02,
        3.820e+02,  2.950e+02,  1.590e+02,  3.840e+02,  4.010e+02,
        5.520e+02,  4.630e+02,  2.590e+02,  4.120e+02,  4.760e+02,
        5.220e+02,  5.740e+02,  6.290e+02,  4.770e+02,  3.200e+02,
        8.400e+02,  9.470e+02,  1.071e+03,  1.209e+03,  9.530e+02,
        8.760e+02,  1.366e+03,  1.409e+03,  1.460e+03,  1.365e+03,
        9.960e+02,  9.750e+02,  1.326e+03])

In [30]:
covid_df.dtypes

date           object
new_cases     float64
new_deaths    float64
new_tests     float64
dtype: object

In [31]:
covid_df['new_deaths'].unique()

array([  0.,   2.,   4.,   5.,   1.,   8.,   6.,  17.,  28.,  27.,  41.,
        49.,  36., 133.,  98., 167., 196., 189., 252., 173., 370., 347.,
       473., 429., 625., 795., 649., 601., 743., 685., 660., 971., 887.,
       758., 810., 839., 727., 760., 764., 681., 527., 636., 604., 540.,
       612., 570., 619., 431., 564., 578., 525., 575., 480., 433., 454.,
       534., 437., 464., 420., 415., 260., 333., 382., 323., 285., 269.,
       474., 174., 195., 236., 369., 274., 243., 194., 165., 179., 172.,
       262., 242., 153., 145.,  99., 162., 161., 156., 130., 119.,  50.,
        92.,  78., 117.,  70.,  87., 111.,  75.,  60.,  55.,  71.,  88.,
        85.,  72.,  53.,  65.,  79.,  56.,  44.,  26.,  34.,  43.,  66.,
        47.,  24.,  23.,  18., -31.,  30.,  22.,  21.,  15.,   7.,  12.,
         9.,  13.,  20.,  11.,  14.,   3.,  10., 158.])

In [32]:
covid_df[covid_df.new_deaths == 1]

           date  new_cases  new_deaths  new_tests
58   2020-02-27       78.0         1.0        NaN
243  2020-08-30     1444.0         1.0    53541.0

In [33]:
covid_df[covid_df.new_deaths == 5]

           date  new_cases  new_deaths  new_tests
57   2020-02-26       93.0         5.0        NaN
59   2020-02-28      250.0         5.0        NaN
207  2020-07-25      252.0         5.0    28059.0
208  2020-07-26      274.0         5.0    25177.0
209  2020-07-27      254.0         5.0    19374.0
210  2020-07-28      168.0         5.0    25341.0
215  2020-08-02      295.0         5.0    24496.0
218  2020-08-05      190.0         5.0    29739.0
232  2020-08-19      401.0         5.0    41290.0
241  2020-08-28     1409.0         5.0    65135.0

In [34]:
covid_df.max()

date          2020-09-03
new_cases           6557
new_deaths           971
new_tests          95273
dtype: object

In [35]:
covid_df.min()

date          2019-12-31
new_cases           -148
new_deaths           -31
new_tests           7841
dtype: object

In [36]:
covid_df.sample(10)

           date  new_cases  new_deaths  new_tests
30   2020-01-30        0.0         0.0        NaN
229  2020-08-16      629.0       158.0    22470.0
72   2020-03-12     2313.0       196.0        NaN
199  2020-07-17      230.0        20.0    28661.0
51   2020-02-20        0.0         0.0        NaN
196  2020-07-14      169.0        13.0    24222.0
204  2020-07-22      128.0        15.0    29288.0
222  2020-08-09      347.0        13.0    22773.0
28   2020-01-28        0.0         0.0        NaN
236  2020-08-23     1071.0         3.0    47463.0

In [37]:
covid_data_dict['new_cases']

[1444, 1365, 996, 975, 1326]

In [38]:
covid_df['new_cases']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
        ...
243    1444.0
244    1365.0
245     996.0
246     975.0
247    1326.0
Name: new_cases, Length: 248, dtype: float64

In [39]:
type(covid_df['new_cases'])

pandas.core.series.Series

In [40]:
cases_df = covid_df[['date', 'new_cases']]
cases_df

           date  new_cases
0    2019-12-31        0.0
1    2020-01-01        0.0
2    2020-01-02        0.0
3    2020-01-03        0.0
4    2020-01-04        0.0
..          ...        ...
243  2020-08-30     1444.0
244  2020-08-31     1365.0
245  2020-09-01      996.0
246  2020-09-02      975.0
247  2020-09-03     1326.0

[248 rows x 2 columns]

In [41]:
covid_df['new_cases'][243]

1444.0

In [42]:
covid_df.at[244,'new_cases']

1365.0

In [43]:
total_cases = covid_df.new_cases.sum()
total_deaths = covid_df.new_deaths.sum()

In [44]:
total_cases

271515.0

In [45]:
total_deaths

35497.0

In [46]:
print(f'The total no of deaths is {total_deaths}')

The total no of deaths is 35497.0

In [47]:
print(f'The total no of cases is {total_cases}')

The total no of cases is 271515.0

In [50]:
death_rate= total_deaths/total_cases*100

In [51]:
death_rate

13.073679170579894

In [52]:
print(f'the death rate is {death_rate} %')

the death rate is 13.073679170579894 %

In [54]:
initial_tests = 935310
total_tests = initial_tests + covid_df.new_tests.sum()

In [55]:
total_tests

5214766.0